<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
    <style>
 .field-error {
 border-color: #dc3545;
 color: #dc3545;
 }
 </style>
    <title>BF Matching</title>
</head>

<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">BF Matching</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li th:if="${session.loginMember != null}" class="nav-item"><a class="nav-link" href="/post/add">Add Post</a></li>
                <li th:if="${session.loginMember == null}" class="nav-item"><a class="nav-link" href="/login">LogIn</a></li>
                <li th:if="${session.loginMember != null}" class="nav-item"><a class="nav-link" href="/logout">LogOut</a></li>
                <!--                        <li class="nav-item dropdown">-->
                <!--                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>-->
                <!--                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                <!--                                <li><a class="dropdown-item" href="#!">All Products</a></li>-->
                <!--                                <li><hr class="dropdown-divider" /></li>-->
                <!--                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>-->
                <!--                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>-->
                <!--                            </ul>-->
                <!--                        </li>-->
            </ul>
            <form class="d-flex">
                <label style="margin:20px" th:if="${session.loginMember != null}" th:text="|${session.loginMemberId} 님 안녕하세요.|"></label>
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi bi-star-fill"></i>
                    관심
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 th:text="|Team. ${team.teamName}|" class="display-4 fw-bolder">팀 명</h1>
            <p class="lead fw-normal text-white-50 mb-0">팀원을 확인해 보세요.</p>
        </div>
    </div>
</header>

<ul class="list-group">
    <li th:each="member : ${teamMembers}" class="list-group-item d-flex justify-content-between align-items-center m-3">
        <span th:text="${member.loginId}"></span>
        <i class="bi bi-envelope-fill"></i>
    </li>
</ul>
<div class="m-3" style="text-align:right;">
    <a class="btn btn-outline-dark mt-auto" th:href="@{/team/{teamId}/join (teamId=${team.id})}">참가</a>
</div>

</body>

</html>
