<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ce1023d7e7.js" crossorigin="anonymous"></script>
    <style>
 .container {
 max-width: 560px;
 }
 .field-error {
 border-color: #dc3545;
 color: #dc3545;
 }

.clearfix {
  clear: both
}



 </style>

    <title>Bf Matching</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>
    <form action="/login" th:action th:object="${loginForm}" method="post">
<!--        <div th:if="${#fields.hasGlobalErrors()}">-->
<!--            <p class="field-error" th:each="err : ${#fields.globalErrors()}"-->
<!--               th:text="${err}">전체 오류 메시지</p>-->
<!--        </div>-->
        <div>
            <label for="loginId">로그인 ID</label>
            <input type="text" name="loginId" id="loginId" th:field="*{loginId}" class="form-control">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password" th:field="*{password}" class="form-control">
<!--            <div class="field-error" th:errors="*{password}" />-->
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-dark" type="submit">로그인</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-dark" th:onclick ="|location.href='@{/members/new}'|" type="button">회원 가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-dark" th:onclick="|location.href='@{http://localhost:8080/}'|" type="button">취소</button>
            </div>
        </div>
        <div style="text-align:center">
            <button onclick="location.href='/oauth2/authorization/naver'" type="button" id="btnNaver" class="my-4" style="width:60%; border:0px; background-Color:white"><img src="/img/btnNaver.png" style="width:100%; height:60px;"></button>
            <button onclick="location.href='/oauth2/authorization/google'" type="button" id="btnGoogle" class="my-1" style="width:61%; border:0px; background-Color:white"><img src="img/btnGoogle.png" style="width:100%; height:60px;"></button>
            <button onclick="location.href='/oauth2/authorization/facebook'" type="button" id="btnFacebook" class="my-3" style="width:63%; border:0px; background-Color:white"><img src="/img/btnFacebook.png" style="width:100%; height:70px;"></button>
        </div>

    </form>


</div> <!-- /container -->

</body>
</html>